
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }   
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container {
        width: 1170px;
    } 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}



body, html {
    color: #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    margin: auto;
}

.container {
    margin: auto;
}
.header-container {
    background-color: #2196F3;
    margin: auto;    
    color: #F2F2F2;
    top: 0;    
    height: 72px;
    position: fixed;
    width: 100%;    
    border-bottom: 1px solid #2196F3;  
}   

.title {    
    background-color: #2196F3;      
}

.navigation {
    height: 24px;
    margin: auto;    
    background: #2196F3;    
}

.navigation-items {
    display: flex;
}

.navigation-item {
    color: #D5D5D5;
    display: inline-block; 
    padding-right: 14px;
    font-weight: bold; 
    cursor: pointer;
}

.navigation-item:hover {
    color: #FFF;
}
.navigation-active-indicator {
    margin-top: 8px; 
    width: 100%;
    height: 2px; 
    background: #FFF;
}

.body-container {
    background-color: #FFF;
}

pre {
    background-color: #f7f7f7;
}

pre.prettyprint {
    border: 0px;
}

h3 {
    font-weight: normal;
}

.icon-container {
    width: 140px;
    padding: 10px 4px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
    cursor: pointer;
    border: 1px solid transparent;
}

.icon-container-selected {
    border: 1px solid #00BCD4;
    
}

.section-container {
    display: flex;
    margin: auto;
}